boost_1_69_0
Project1/Project1.opensdf
Project1/Project1.sdf
Project1/Project1.v11.suo
Project1/Test/
Project1/Project1/Test/
Project1/Debug/
Project1/Project1/Debug/
*.filters
*.user
*.opensdf
*.sdf
*.suo